.curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 50px;
}

.main-button {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: none;
}

.main-button img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.buttonTheme {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.material-symbols-outlined {
    font-size: 40px !important;
    font-variation-settings: 'FILL' 0,
    'wght' 500,
    'GRAD' 1,
    'opsz' 600;
    color: var(--theme-button-color);;
}
